@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        @Html.ActionLink("¡Bienvenido " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
    </li>
    <li class="nav-item">
        <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out-alt"></span>&nbsp Cerrar Sesión</a>
    </li>
</ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <a class="nav-link" href="~/Account/Register"><span class="fa fa-user"></span>&nbsp Registrarse</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="~/Account/Login"><span class="fa fa-sign-in-alt"></span>&nbsp Iniciar Sesión</a>
    </li>
</ul>
}
