@{
    ViewBag.Title = "Home Page";
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <a href="~/Alojamientoes">
                <img class="d-block w-100 img-fluid" src="/images/alojamiento1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="letragran">Alojamientos </h1>
                    <p></p>
                    <h3 class="letrapeq">Conoce nuestros variopintos alojamientos</h3>
                </div>
            </a>

        </div>
        <div class="carousel-item">
            <a href="~/barRestaurantees">
                <img class="d-block w-100 img-fluid" src="/images/restaurante1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="letragran">Bares y Restaurantes</h1>
                    <p></p>
                    <h3 class="letrapeq"> Conoce los bares y restaurantes que marcan tendencia</h3>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="~/Excursions">
                <img class="d-block w-100 img-fluid" src="/images/visitaguiada1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="letragran">Excursiones y visitas guiadas</h1>
                    <p></p>
                    <h3 class="letrapeq">  Conoce las excursiones y visitas que ofrecemos para enriquecer tu cultura</h3>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="~/LocalesDeOcioNocturnoes">
                <img class="d-block w-100 img-fluid" src="/images/localocionocturno1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="letragran">Locales de ocio nocturno</h1>
                    <p></p>
                    <h3 class="letrapeq">Conoce los locales de ocio nocturno que marcan tendencia</h3>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="~/Experiencias">
                <img class="d-block w-100 img-fluid" src="/images/experiencia1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="letragran">Experiencias</h1>
                    <p></p>
                    <h3 class="letrapeq">Descubre las experiencias que te dejarán recuerdos inolvidables</h3>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="~/parqueTematicoes">
                <img class="d-block w-100 img-fluid" src="/images/parquetematico1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="letragran">Parques Temáticos</h1>
                    <p></p>
                    <h3 class="letrapeq">  Conoce los parques temáticos que marcan tendencia</h3>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="~/Espectaculoes">
                <img class="d-block w-100 img-fluid" src="/images/espectaculo1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="letragran">Espectáculos</h1>
                    <p></p>
                    <h3 class="letrapeq">Descubre los apasionantes espectáculos que están a tu disposición</h3>
                </div>
            </a>
        </div>
        <div class="carousel-item">
            <a href="~/Degustacions">
                <img class="d-block w-100 img-fluid" src="/images/degustacion1.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h1 class="letragran">Degustaciones Gastronómicas</h1>
                    <p></p>
                    <h3 class="letrapeq">Sumérgete en un mundo lleno de sabores exóticos.</h3>
                </div>
            </a>
        </div>

    </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

